body {
	background: url(img.png) no-repeat;
	background-size: 1000px;
	background-position: center;
	border: 15px groove red;
}

body h1 {
	text-align: center;
	text-shadow: 2px 2px 8px #000;
	padding: 240px 0;
	font-family: "Dancing Script", cursive;
	font-size: 10em;
}
