.carousel {
	display: flex;
	justify-content: center;
	margin-bottom: var(--gap-biggest);
	min-height: 255px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.carousel > .item {
	position: absolute;
	opacity: 0.5;
	transform: translateX(0) translateY(0) scale(0.1);
	transition: transform 500ms ease-in-out;
}

.carousel > .item.-active {
	opacity: 1;
	z-index: 2;
	transform: translateX(0) translateY(0) scale(1);
}

.carousel .titles {
	transform: scaleY(0);
	transform-origin: top left;
	transition: transform 200ms ease-in-out;
}

.carosuel .titles .title,
.carosuel .titles .game,
.carosuel .titles .name {
	transform: translateX(-120%);
	transition: transform 100ms 600ms ease-in-out;
}

.carousel > .item.-active .titles {
	position: relative;
	overflow: hidden;
	transform: scaleY(1);
	transition: transform 200ms 500ms ease-in-out;
}

.carosuel > .item.-active .title,
.carosuel > .item.-active .game,
.carosuel > .item.-active .name {
	transform: translateX(0);
}

.carosuel > .item.-active .name {
	transition-delay: 680ms;
}

.carosuel > .item.-active .game {
	transition-delay: 780ms;
}

.carousel > .item.-left {
	transform: translateX(-8%) translateY(-2%) scale(0.9);
}

.carousel > .item.-right {
	transform: translateX(8%) translateY(-2%) scale(0.9);
}

.carousel > .item.-left .wrapper-screen {
	border-color: var(--color-live);
}

.carousel > .item.-right .wrapper-screen {
	border-color: var(--color-success);
}

.carousel > .item .wrapper-screen:after {
	transition: transform 300ms 500ms ease-in-out;
}

.carousel > .item.-left .wrapper-screen:after,
.carousel > .item.-right .wrapper-screen:after {
	transform: skewX(0) translateX(0);
}

.carousel > .item.-left .wrapper-screen:after {
	background-color: var(--color-live);
}

.carousel > .item.-right .wrapper-screen:after {
	background-color: var(--color-success);
}
