.wrapper-live {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.wrapper-live > .live {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-live);
	font-size: 10px;
	text-transform: uppercase;
	color: var(--color-intz);
	padding: calc(var(--gap-smallest) / 2);
	border-radius: calc(var(--gap-smallest) / 2);
	text-decoration: none;
	letter-spacing: 0.2rem;
	transform: translateY(-50%);
}

.wrapper-live > .live:before {
	content: url(../../img/live.png);
	margin-right: calc(var(--gap-smallest) / 2);
}
