body {
	background: #fff;
}

header {
	background-image: url(../img/a.png);
	height: 100px;
	width: 100%;
	text-transform: uppercase;
}
header h1 {
	text-align: center;
	font: 2em monospace;
	display: inline-flex;
	background: rgb(255, 225, 55);
	border: 3px solid black;
	margin-top: 30px;
	box-shadow: 10px 10px 8px #888888;
}
.container {
	width: 100%;
	min-width: 400px;
	text-align: center;
	position: relative;
	overflow: hidden;
	font: 15px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

a:link {
	text-decoration: none;
	color: black;
}

#navbar {
	padding: 10px;
	height: 20px;
	background: rgb(255, 225, 55);
	width: 100%;
	display: inline-flex;
	border: 3px solid black;
	box-shadow: 10px 10px 8px #888888;
	font-weight: bold;
}

#navbar ul {
	margin: auto;
	padding: 0;
}

#navbar ul li {
	float: left;
}

#navbar ul li a:link,
a:active,
a:visited {
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
	color: black;
}

#navbar ul li a:hover {
	text-decoration: underline;
	text-shadow: 2px 2px 5px black;
}

#content {
	text-align: left;
	margin: 0 100px 0 100px;
	display: inline-flexbox;
}

#content ul {
	padding-top: 10px;
}

#content ul li {
	border: 2px solid black;
	border-radius: 10px;
	margin: 20px;
	padding: 5px;
	background: rgb(255, 253, 232);
	box-shadow: 10px 10px 8px #888888;
}

#content ul li a:link,
a:active,
a:visited {
	color: black;
}

#content h1 {
	text-align: center;
	font: 2em monospace;
	background: rgb(255, 225, 55);
	border: 3px solid black;
	margin-top: 20px;
	box-shadow: 10px 10px 8px #888888;
}

#content h2 {
	font-weight: bold;
}
